.main {
  background-color: #fff;
}

.nav {
  padding: 15px 30px;
}

.nav_img {
  width: 120px;
  margin: 0 !important;
  padding-top: 5px;
}

.btn{
  padding: 5px 30px;
  border-radius: 20px;
  border: 1px solid transparent;
  margin-left: 20px;
}

.img_bg {
  height: 800px;
  background: url("../../assets/img/back.png") center center no-repeat;
}

.img_bg button {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 40px;
  font-size: 18px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.img_bg figure {
  width: 50px;
  margin: 0;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  cursor: pointer
}

.w50{
  margin: auto
}

.footer .btn {
  padding: 15px 50px;
  border-radius: 30px;
}
